/*
Colors used: 
Dominant (White): #FFFFFF;
Supporting 1 (Dark Coral): #E67B6C
Supporting 2 (Light Coral): #F2B0A1
Accent (Sky Blue): #83AAC0
*/
*{
    box-sizing: border-box;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    color:black
}
body {
    background-color: #FFFFFF;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color:black
}
main {
    padding-top: 300px;
}
header {
    width:100%;
    background-color:#F2B0A1;
    padding: 10px 0 4px;
        border: solid #BDBDBD 1px; 
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
      position: fixed
}
footer {
    width: 100%;
    text-align: center;
    border-top: solid #F2B0A1 2px;
}
img {
    width: 100%;
}
h1 {
    color:#E67B6C;
    font-size: 2.75em;
    font-weight: 600;
}
h2 {
    color:#E67B6C;
    font-size: 2.25em;
    font-weight: 500;
}
h3 {
    font-size: 1.75em;
    font-weight: 500;
}
h4 {
    color:#E67B6C;
    font-size: 1.35em;
    font-weight: 400;
}
a.icon {
    color:#E67B6C;
}
a {
    color: #E67B6C;
    text-decoration: none;
}
a:visited {
    color: #E67B6C;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #83AAC0;
    text-decoration: none;
}
a:active {
    color: #83AAC0;
    text-decoration: none;
}
a.social {
    display: inline-block;
    background-color: #E67B6C;
    color: #FFFFFF;
    font-weight: 300;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #F2B0A1;
    transition: 0.2s opacity;
    margin: 15px 0; 
}
#contact svg {
    position:relative;
     top: 8px;
     margin-left: 10px;
     fill: #FFFFFF;
}
a.button {
    display: inline-block;
    background-color: #E67B6C;
    color: #FFFFFF;
    font-weight: 300;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #F2B0A1;
    transition: 0.2s opacity;
}
#about a.button {
    text-align: center;
}
a.button:hover,
a.button:focus {
    opacity: 0.8;
}
a.button:active {
    opacity: 0.8;
}
a.button.contact {
    background-color: transparent;
    color:#E67B6C;
    text-transform: uppercase;
    border: 2px solid #E67B6C
}
a.button.contact:hover {
    background-color: #f7d8d1;
    color:#FFFFFF;
}

/*layout styling*/
.navtoggle li:not(:last-child) {
    display: none;
}
.row{
    margin: 25px 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.navtoggle li .icon {
    position: absolute;
    text-align: right;
    top: 45px;
    font-size: 20px;
}
.navtoggle, .navtoggle.responsive{
    position: relative;
}
#hero h1 {
    text-align: center;
}
#work h2 {
    text-align: center;
}
#work h3 {
    text-align: center;
}
#work p {
    text-align: center;
}
#about h1 {
    text-align: center;
}
#about h2 {
    text-align: center;
}
#about h3 {
    text-align: center;
    margin-top: 0;
    padding: 0 0 0 35px;
}
#about li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
#about img {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hero h3 {
    text-align: center;
}
.logo{
    max-width: 200px;
}
#project h1 {
    text-align: center;
}
#project h2 {
    text-align: center;
}
#hero span {
    display: block;
}
nav > ul > li > a {
    display: inline-block;
    width: 100%;
}
main {
    padding-top: 125px;
}
.navtoggle.responsive {
    display: block;
}
/* medium devices */
@media only screen and (min-width: 640px) {
    nav > ul {
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 40px;
    }

    .col-md-6 {
        width: 50%;
        margin-top: -20px;
    }
    .col-md-6-project {
        width: 50%;
        margin-top: 0 0 32px;
    }
    .col-md-12 {
        width: 100;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    main {
        padding-top: 150px;
    }
    .skills > ul {
        margin: 0;
    }
    .logo{
        max-width: 250px;
    }
    }
    /* large devices */
    @media only screen and (min-width: 1024px) {
    body {font-size: 18px;}
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-4 {
        width: 41.66%;
    }
    .col-lg-7 {
        width: 50%;
    }
    .col-lg-12 {
        width: 100%;
        margin-top: -18px;
    }
    .col-lg-12-skills {
        width: 100%;
        margin-top: -18px;
        float: left;
        padding: 0 20px 40px;
    }
    .container {
        max-width: 1200px;
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .learnings h4 {
        margin: 40px 0 0 0;
        font-weight: 700;
        font-size: 1.6em;
    }
    #project  {
     font-size: 1.5em;}
    .project img {
        padding: 24px 48px;
    }
    #hero h3 {
        font-size: 1.5em;
    }
    #about  {
        text-align: center;
        padding: 8px 0;
        margin: 32px 0 16px 0;
    }
    }
    /* x-large devices */
    @media only screen and (min-width: 1440px) {
    body {font-size: 18px;}
    }
    @keyframes star {
        from {transform: translate(0px,50px);}
        to {transform:translate(100px,350px)}
    }
    .star {
        animation: 5s star infinite linear;
    }
    @keyframes staroutline {
        from {transform: translate(0px,50px);}
        to {transform:translate(100px,350px)}
    }
    .staroutline {
        animation: 5s staroutline infinite linear;
    }